
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Limetray Assignment - A Simple E Commerce site beased in Node+Angular+Boostrap">
    <meta name="author" content="Raghav Dua">

    <title>Welcome <%= username %></title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

    Welcome <%= username %>

    </div> <!-- /container -->

  </body>
</html>

