<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> <!--Basic Angular-->
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script> <!--UI Router-->
    <script src = "http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script> <!--ngResource-->
    <script src = "../js/angularApp.js"></script> <!--Angular App-->

    <meta name="description" content="Limetray Assignment - A Simple E Commerce site beased in Node+Angular+Boostrap">
    <meta name="author" content="Raghav Dua">

    <title>Welcome <%= username %></title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/signin.css" rel="stylesheet">
  </head>

  <body ng-app = "limetray">

    <div class="container">

    Welcome <%= username %> <br />
    <a href = "/logout">Logout</a><br />
    <a href = "#/checkout">Proceed to Checkout</a> <br />

    <center>
      <ui-view></ui-view>
    </center>

    </div> <!-- /container -->

    <script type = "text/ng-template" id = "/categoryList.html">
      <h1><kbd>{{heading}}</kbd></h1> <br />
      <div ng-repeat = "item in list">
        <div ng-click = "setCategory(item['data'])">
          <button type="button" class="btn btn-primary btn-md">{{item ['data']}}</button>
        </div>
        <br />
      </div>
    </script>

    <script type = "text/ng-template" id = "/category.html">
      <h1><kbd>{{heading}}</kbd></h1> <br /><br />
      <div ng-repeat = "item in list | orderBy: 'price'">
        <div ng-click = "setProduct(item)">
          <button type="button" class="btn btn-default">{{item.name}} (Rs.{{item.price}})</button>
          <br /><br />
        </div>
      </div>
      <br />
      <a href = "#/categoryList">Back</a> <br />
    </script>

    <script type = "text/ng-template" id = "/product.html">
      <h1><kbd>{{heading}}</kbd></h1> <br />
      {{product.item}}
      <br />
      <a href = "#/category">Back</a> <br />
    </script>

  </body>
</html>